.main {
  height: 100%;
  .icon-task {
    stroke: var(--stroke);
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    flex: 1 1 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
  }

  .pagination {
    margin-top: auto;
  }
}
