.search {
  margin-bottom: 24px;

  &__field {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 12px 40px 12px 40px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    color: $BBlack;
    transition: border-color 0.3s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: $Accent40;
      }
    }
  }

  &__clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 28px;
    line-height: 130%;
    cursor: pointer;
    color: $BSupport;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--text-color);
      transition: all 0.3s ease-in-out;
    }
  }

  &__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }
}
