:root {
  --shadow-item: #{2px 2px 4px 2px rgba($BBlack, 0.2)};
  --bg-color-header: #{$Accent20};
  --bg-color: #{$WBg};
  --text-color: #{$BBlack};
  --fill: #{$BBlack};
  --stroke: #{$BBlack};
  --bg-modal: #{$WWhite};
  --border: #{$BReserve};
}

// Класс или атрибут для темной темы
[data-theme="dark"] {
  --border: #{$WWhite};
  --shadow-item: #{2px 2px 4px 2px rgba($BReserve, 0.2)};
  --bg-color-header: #{$BReserve};
  --bg-color: #{$BBlack};
  --text-color: #{$WWhite};
  --fill: #{$WWhite};
  --stroke: #{$WWhite};
  --bg-modal: #{$BReserve};
}

* {
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 100%;
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-family: $fontFamilyProstoOne;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $BSubT;
}

.h1 {
  font-family: $fontFamilyProstoOne;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $BSubT;
}

.h2 {
  font-family: $fontFamilyProstoOne;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $BSubT;
}

h2 {
  font-family: $fontFamilyProstoOne;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $BSubT;
}

.title {
  margin-bottom: 24px;
}

.description {
  color: $BSupport;
  line-height: 110%;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0px 20px;
  height: 100%;
}

.custom-switch {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid var(--border);
  overflow: hidden;

  &__item {
    cursor: pointer;
    width: 100%;
    text-align: center;
    span {
      display: block;
      padding: 8px 6px;
    }

    input {
      position: absolute;
      opacity: 0;
      // visibility: hidden;
    }
  }

  input {
    &:checked {
      & ~ span {
        background-color: $Accent60;
        color: $WWhite;
      }
    }

    &:focus-visible {
      & ~ span {
        outline: auto;
        outline-color: $BBlack;
      }
    }
  }
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;

  &--error {
    input[type="text"],
    textarea {
      border-color: $HelpingRed100;

      &::placeholder {
        color: $HelpingRed100;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 4px;
    font-size: 12px;
    color: $HelpingRed100;
  }

  input[type="text"] {
    padding: 4px 8px;
    color: $BBlack;
    border-radius: 4px;
  }

  textarea {
    padding: 4px 8px;
    border-radius: 4px;
    resize: none;
    color: $BBlack;
  }
}

.modal-todo-form {
  .modal__content {
    max-width: 500px;
    width: 100%;
  }

  @include mediumMobile {
    .modal__content {
      height: 100dvh;
      max-width: none;
      width: 100%;
      border-radius: 0;
    }

    .modal__body {
      display: flex;
      flex-direction: column;
      .todo-form {
        height: 20px;
        flex: 1 1 auto;
        overflow: auto;
        padding-bottom: 0;

        &__btns {
          position: sticky;
          bottom: 0px;
          padding: 10px 0px;
          background-color: var(--bg-modal);
        }
      }
    }
  }
}

.modal-users {
  .modal__content {
    max-width: 500px;
    width: 100%;
  }

  .modal__body {
    max-height: 500px;
    min-height: 300px;
    overflow: auto;
  }

  @include mediumMobile {
    .modal__content {
      height: 100dvh;
      max-width: none;
      width: 100%;
      border-radius: 0;
    }

    .modal__body {
      display: flex;
      flex-direction: column;
      max-height: initial;
      .users {
        height: 20px;
        flex: 1 1 auto;
        overflow: auto;

        &__btns {
          position: sticky;
          bottom: 0px;
          padding: 10px 0px;
          background-color: var(--bg-modal);
        }
      }
    }
  }
}
