@font-face {
  font-family: 'Actay';
  src: url('../fonts/Actay-Regular.woff2') format('woff2'),
      url('../fonts/Actay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Actay';
  src: url('../fonts/ActayWide-Bold.woff2') format('woff2'),
      url('../fonts/ActayWide-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prosto One';
  src: url('../fonts/ProstoOne-Regular.woff2') format('woff2'),
      url('../fonts/ProstoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

