$WWhite: #ffffff;
$WBg: #f2f2f2;
$WReserve: #E6E6E6;
$WDisable: #CCCCCC;
$WTranspW10: rgba(#ffffff, 0.1);

$BBlack: #1A1A1A;
$BSubT: #333333;
$BReserve: #4D4D4D;
$BSupport: #999999;

$AccentPrimary: #3361B8;
$Accent80: #4C74C1;
$Accent60: #7F9CD2;
$Accent40: #A6BAE0;
$Accent20: #CCD7ED;
$Accent10: #E5EBF6;

$HelpingGreen100: #57AA49;
$HelpingGreen80: #80C575;

$HelpingYellow100: #CCA131;
$HelpingYellow80: #DCB961;

$HelpingRed100: #DD554B;
$HelpingRed80: #EA958E;
$HelpingRed10: #F9EEED;


$fontFamily: "Actay", "Arial";
$fontFamilyProstoOne: "Prosto One", "Arial";
